{{! This will be your default layout for all handlebars file rendered. This will be inherited by all other templates. }}
{{! Refer lecture code to learn more on how this works
don't forget to include your css and your client-side script file references in the layout.
}}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{title}}</title>
        <link rel="stylesheet" href="/public/css/main.css">
    </head>
    <body>
        <main>
            {{{body}}}
        </main>
        <footer>
            <p>&copy; <span id="currentYear"></span> Apartment Scout. All Rights Reserved.</p>
        </footer>

        <script>
            document.getElementById('currentYear').innerText = new Date().getFullYear();
        </script>
    </body>
</html>

