<nav class="navbar">
  <div class="navbar-logo">
    <a href="#">
      <img src="/public/image/unnamed.png" alt="Logo">
    </a>
  </div>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/addlisting">Add Listings</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/viewprimarylistings">View Listings</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/viewScoutSubscribedlistings">View Listings Subscribed By Scout</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/primaryWallet">My Wallet</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/profile">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/logout">Logout</a>
    </li>
  </ul>
</nav>

<div>
  {{{success}}}
</div>

<div>
    <form class="addlisting-form" method="post" id="addlisting-form">

      <label for="listingNameInput">Listing Name <span class="mandatory">*</span>:</label>
      <input type="text" id="listingNameInput" name="listingNameInput" placeholder="Please add your Listing property Name" required><br>

      <label for="listingLinkInput">Listing Link <span class="mandatory">*</span>:</label>
      <input type="url" id="listingLinkInput" name="listingLinkInput" placeholder="Please enter your listing link" required><br>

      <label for="streetInput">Street <span class="mandatory">*</span>:</label>
      <input type="text" id="streetInput" name="streetInput" placeholder="Please enter the street where listing is located" required><br>

      <label for="cityInput">City <span class="mandatory">*</span>:</label>
      <input type="text" id="cityInput" name="cityInput" placeholder="Please enter the city where listing is located" required><br>

      <label for="stateInput">State <span class="mandatory">*</span>:</label>
      <input type="text" id="stateInput" name="stateInput" placeholder="Please enter the city where listing is located" required><br>

      <label for="countryInput">Country <span class="mandatory">*</span>:</label>
      <input class="styled-input" list="countryList" id="countryInput" name="countryInput" autocomplete="on" placeholder="Please enter the country where listing is located" required>
        <datalist id="countryList">
          {{#each countryList}}
            <option value="{{this}}">{{this}}</option>
          {{/each}}
        </datalist>
  <br>

      <label for="pincodeInput">Pincode <span class="mandatory">*</span>:</label>
      <input type="text" id="pincodeInput" name="pincodeInput" pattern="^\d{5}$" placeholder="Please enter the pincode where listing is located" required><br>

      {{!-- Reffered this https://stackoverflow.com/questions/6595413/regex-which-accept-positive-integer-and-nothing to get logic for to check if input is a valid positive integer including 0  --}}
      <label for="rentInput">Rent <span class="mandatory">*</span>:</label>
      <input type="text" id="rentInput" name="rentInput" pattern="^\d*$" placeholder="Please enter the Listing Rent (Integer), If you don't know the rent just Enter 0"><br>
      
      <label for="additionalInfoInput">Additional Information <span class="mandatory">*</span>:</label>
      <textarea id="additionalInfoInput" name="additionalInfoInput" rows="4" cols="50" maxlength="250" oninput="getCharCount()" placeholder="Please enter any relevant info you want to add. Enter NA if you don't have anything to add"></textarea>
      <p><span id="charCount">250</span> characters remaining</p>

      <label for="agentNumberInput">Agent Number <span class="mandatory">*</span>:</label><br>
      <input type="tel" id="agentNumberInput" name="agentNumberInput" pattern="[0-9]{10}" required placeholder="Please enter the listing's Agent number" ><br>

      <label for="ownerNumberInput">Owner Number <span class="mandatory">*</span>:</label><br>
      <input type="tel" id="ownerNumberInput" name="ownerNumberInput" pattern="[0-9]{10}" required placeholder="Please enter the listing's Owner number "><br>

      <label for="rewardInput">Reward <span class="mandatory">*</span>:</label><br>
      <input type="text" id="rewardInput" name="rewardInput" placeholder="Please enter the reward you'd like to payout, between 1 and 100 USD" pattern="^([1-9]\d?|100)$" required><br><br>

      <input type="submit" value="Submit" aria-label="Submit to add listing">
    </form>
</div>

<div id="error" class="error" hidden></div>
    {{{error}}}

<!--From professor's lecture code , modified according to requirement of lab9-->
<!--Used type="module" to counter error thrown at console for importing helper.js inside lab10.js-->

    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
    <script src="/public/js/main.js" ></script>
