<nav class="navbar">
  <div class="navbar-logo">
    <a href="#">
      <img src="/public/image/unnamed.png" alt="Logo">
    </a>
  </div>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Add Listings</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">View Listings</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Rewards</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/logout">Logout</a>
    </li>
  </ul>
</nav>

<div>
    <form class="addlisting-form" method="post" id="addlisting-form">

  <label for="listingName">Listing Name:</label>
  <input type="text" id="listingName" name="listingName"><br>

  <label for="listingUserID">Listing User ID:</label>
  <input type="text" id="listingUserID" name="listingUserID"><br>

  <label for="actualListingLink">Actual Listing Link:</label>
  <input type="text" id="actualListingLink" name="actualListingLink"><br>

  <label for="street">Street:</label>
  <input type="text" id="street" name="street"><br>

  <label for="city">City:</label>
  <input type="text" id="city" name="city"><br>

  <label for="state">State:</label>
  <input type="text" id="state" name="state"><br>

  <label for="pincode">Pincode:</label>
  <input type="number" id="pincode" name="pincode" min="10000" max="99999"><br>

  <label for="country">Country:</label>
  <input type="text" id="country" name="country"><br>

  <label for="agentNumber">Agent Number:</label>
  <input type="number" id="agentNumber" name="agentNumber"><br>

  <label for="ownerNumber">Owner Number:</label>
  <input type="number" id="ownerNumber" name="ownerNumber"><br>

  <label for="reward">Reward:</label>
  <input type="number" id="reward" name="reward"><br><br>

  <input type="submit" value="Submit">
</form>
</div>
