{{!--

logout handlebar template

--}}

<div class="pageTitle">
    <p>
        {{title}}
    </p>
</div>

<p>
    {{firstName}} you are now successfully logged out!
</p>

<p>
    <a href="/">Click here to go to the landing page!</a>
</p>