{{{navBar}}}


<div>
    <section class="wallet-rewards">
        <h2>Wallet Balance</h2>
        {{#if isBalZero}}
          <p>Your current wallet balance is $0.</p>
        {{else}}
            <p>Your current wallet balance is $ {{walletBalance}}</p>
        {{/if}}
      </section>
</div>