.login-form{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 15px;
  width: 40%;
  margin: 0 auto; 
}

.registration-form{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 15px;
  width: 40%;
  margin: 0 auto; 
}

.update-form{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 15px;
  width: 40%;
  margin: 0 auto; 
}
.addlisting-form{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 15px;
  width: 40%;
  margin: 0 auto; 
}

label {
  font-weight: bold;
}

input[type=submit] {
  background-color: #4CAF50;
  color: #f2f2f2;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

input[type=submit]:hover,
input[type=submit]:focus {
  background-color: #45a049;
}

input[type=submit]:focus,
input[type=submit]:active {
  outline: none;
  box-shadow: 0 0 0 4px #90EE90;
}

input[type=submit][disabled] {
  background-color: #f2f2f2;
  cursor: not-allowed;
}

input[type=text],
input[type=email],
input[type=date],
input[type=password] {
  width: 100%;
  padding: 10px 15px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  box-sizing: border-box;
  background-position: 10px 10px;
  font-size: 16px; 
  line-height: 1.5;
}
  
input[type=submit] {
  width: 100%;
  background-color: #000000;
  color: #f2f2f2;
  padding: 10px 15px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px; 
  line-height: 1.5;
  font-weight: bold;
}

input[list] {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 15px;
  font-size: 16px; 
  line-height: 1.5;
  color: #555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  width: 100%;
}

.error {
  background-color: #f2f2f2; 
  border: 1px solid red; 
  padding: 10px; 
  margin: 10px 0; 
  color: red; 
  font-weight: bold;
  }

.success {
  background-color: #f2f2f2;
  border: 1px solid #00cc00;
  padding: 10px;
  margin: 10px 0;
  color: #008000;
  font-weight: bold;
}
.pageTitle {
  font-size: 2em;
  text-align: center;
  font-weight: bold;
}

footer {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background-color: #ffffff;
  text-align: center;
}

.mandatory {
  color: #df0000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 10px 15px;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo img {
  height: 40px;
  margin-right: 10px;
}

.navbar-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.nav-item {
  margin-right: 20px;
}

.nav-link {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

.nav-link:hover,
.nav-link:focus { 
  color: #7bade2;
  outline: none;
}

/* for the cards */

.listing-card {
  width: 300px;
  background-color: #f3f3f3;
  padding: 16px;
  margin: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.listing-card h2 {
  margin-top: 0;
}

.listing-card a {
  /* changed the colour of the list to fix tot11y error */
  color: #006be0;
  text-decoration: none;
}

.listing-card strong {
  font-weight: bold;
}

.successMsg {
  background-color: #e6ffe6;
  border: 1px solid #00cc00;
  padding: 10px;
  margin: 10px 0;
  color: #008000;
  font-weight: bold;
  text-align: center;
}

input[type=tel] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

  background-position: 10px 10px;
}

input[type=url] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

  background-position: 10px 10px;
}


.styled-input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

  background-position: 10px 10px;
}



/* Styles for balance section */
.wallet-balance {
  background-color: #eee;
}

.wallet-balance p {
  font-size: 24px;
  font-weight: bold;
}

/* Styles for rewards section */
.wallet-rewards ul {
  margin-left: 20px;
}

.wallet-rewards li {
  font-size: 16px;
  line-height: 1.5;
}